@page
@model CovidTrackingApp.Pages.Venues.DeleteModel

@{
}

<h1>Delete</h1>

<h4 class="text-danger">Are you sure you want to delete this?</h4>
<div>
    <h4>Venue</h4>
    <hr/>

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.VenueId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.VenueId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.VenueName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.VenueName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedVenue.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedVenue.Website)
        </dd>
    </dl>

    <form asp-page="delete" method="post">
        <input type="hidden" value="@Model.SelectedVenue.VenueId" name="venueId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a role="button" asp-page="details" asp-route-venueId="@Model.SelectedVenue.VenueId" class="btn btn-outline-secondary">Cancel</a>
    </form>
    <a asp-page="index">All venues</a>
</div>