@page "{handler?}"
@using CovidTrackingApp.Data
@model CovidTrackingApp.Pages.Venues.IndexModel

@{
    ViewData["Title"] = "Venues";
}

<div class="container">

    <h1>All Venues</h1>

    <div class="row mb-2">
        <a role="button" asp-page="create" class="btn btn-success col-sm-2">New Venue</a>
        <form asp-page-handler="filter" method="get" class="col-sm-4 ml-auto">
            <div class="row">
                <input type="text" placeholder="Venue Name" class="form-control col-sm-9 mr-2" name="venueName" />
                <input type="submit" class="btn btn-primary col" value="Filter" />
            </div>
        </form>
    </div>

    <table class="table table-striped justify-content-center">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Venues[0].VenueName)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].Capacity)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].Address)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].City)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Venue v in Model.Venues)
            {
                <tr>
                    <td>@Html.DisplayFor(model => v.VenueName)</td>
                    <td>@Html.DisplayFor(model => v.Capacity)</td>
                    <td>@Html.DisplayFor(model => v.Address)</td>
                    <td>@Html.DisplayFor(model => v.City)</td>
                    <td>
                        <a asp-page="details" asp-route-venueId="@v.VenueId">Details</a> |
                        <a asp-page="edit" asp-route-venueId="@v.VenueId">Edit</a> |
                        <a asp-page="delete" asp-route-venueId="@v.VenueId">Delete</a>
                    </td>
                    <td>
                        <a class="btn btn-success" asp-page="/Check-In/Index" asp-route-venueId="@v.VenueId">View Bookings</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.IsViewFiltered)
    {
        <a role="button" asp-page="index" class="btn btn-outline-secondary mt-2">View All</a>
    }
</div>