@page "{handler?}"
@using CovidTrackingApp.Data
@model CovidTrackingApp.Pages.Venues.IndexModel

@{
}

<div class="container">

    <form asp-page-handler="filter" method="get">
        <div class="form-row mb-2">
            <input type="text" placeholder="Venue Name" class="form-control col-3 mr-2" name="venueName"/>
            <input type="submit" class="btn btn-primary col-1" value="Filter"/>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Venues[0].VenueName)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].Capacity)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].Address)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].City)</th>
                <th>@Html.DisplayNameFor(model => model.Venues[0].Website)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Venue v in Model.Venues)
            {
                <tr>
                    <td>@Html.DisplayNameFor(model => v.VenueName)</td>
                    <td>@Html.DisplayNameFor(model => v.Capacity)</td>
                    <td>@Html.DisplayNameFor(model => v.Address)</td>
                    <td>@Html.DisplayNameFor(model => v.City)</td>
                    <td>@Html.DisplayNameFor(model => v.Website)</td>
                    <td>
                        <a asp-page="details" asp-route-venueId="@v.VenueId">Details</a> |
                        <a asp-page="edit" asp-route-venueId="@v.VenueId">Edit</a> |
                        <a asp-page="delete" asp-route-venueId="@v.VenueId">Delete</a>
                        <a asp-page="../Check-In/Index" asp-route-venueId="@v.VenueId">View Bookings</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>