@page  "{handler?}"
@model CovidTrackingApp.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h1>All Users</h1>

<div class="row mb-2">
    <a role="button" asp-page="create" class="btn btn-success col-sm-2">New User</a>
    <form asp-page-handler="filter" method="get" class="col-sm-4 ml-auto">
        <div class="row">
            <input type="text" placeholder="Name" class="form-control col-sm-9 mr-2" name="name" />
            <input type="submit" class="btn btn-primary col" value="Filter" />
        </div>
    </form>
</div>

<table class="table table-striped justify-content-center">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    @item.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="flex-row">
                    <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
                <td>
                    <a class="btn btn-success" asp-page="../Check-In/Create" asp-route-id="@item.UserId">Book A Venue</a>
                </td>
                <td>
                    <a class="btn btn-success" asp-page="/Check-In/Index" asp-route-Userid="@item.UserId">Bookings</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.IsViewFiltered)
{
    <a role="button" asp-page="index" class="btn btn-outline-secondary mt-2">View All</a>
}
